
<div class="search-bar">
    <div class="input-group col-12 col-sm-4">
        <button style="min-width:120px; align-text:ceter;" id="dropdown-toggle" class="btn btn-outline-secondary dropdown-toggle col-3 col-sm-3 " type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Select Filter
        </button>
        <ul class="dropdown-menu ">
            <li class="dropdown-item">Food</li>
            <li class="dropdown-item">Resturant</li>
        </ul>
        <input style="margin-bottom:0;" id="input-text" type="text" class="form-control col-6 col-sm-6" aria-label="Text input with dropdown button">
        <span style="cursor: pointer;" class="input-group-text btn btn-outline-warning col-3 col-sm-3" id="basic-addon1">Search</span>
    </div>
</div>

